body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  background: #fafafa;
  line-height: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  color: #001A33;
}
h2 {
  font-size: 2rem;
  margin: 1rem 0;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
h2 + p {
  margin: 0 0 2rem 0;
}
a {
  text-decoration: none;
  color: #000000;
  padding: 0 0 0.2rem 0;
}
a:hover {
  color: #000000;
}
pre {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid #e6e6e6;
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: 0.875em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal;
}
code {
  color: #007FFF;
}
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-nav {
  box-sizing: border-box;
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  background: transparent;
}
.page {
  z-index: 0;
  background: #fafafa;
}
.wrap {
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
}
.page-section {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.page-features {
  width: 100%;
  background: hsl(209, 100%, 10%);
  overflow: scroll;
}
.menu-button {
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 1;
  box-sizing: border-box;
  padding: 0.45rem;
  height: 3rem;
  width: 3rem;
  background: #FFF;
  border: 1px solid transparent;
  user-select: none;
}
.menu-button:hover {
  border: 1px solid #007FFF;
  border-radius: 2px;
}
.menu-button:active {
  background: #EEE;
  border: 1px solid transparent;
}
.open {
  transform: translate3d(-15rem, 0, 0);
}
.menu-button-icon {
  width: 2rem;
  height: 2rem;
}
.hero {
  box-sizing: border-box;
  padding: 2rem;
  background: #FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
}
.hero-headline {
  font-size: 3rem;
  white-space: nowrap;
  margin-bottom: 0;
}
.hero-copy {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0 2rem;
  text-align: center;
}
.slide-menu {
  display: block;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
}
.menu {
  box-sizing: border-box;
  padding-bottom: 5rem;
  background: hsl(209, 100%, 10%);
}
.menu-header {
  box-sizing: border-box;
  padding: 3rem 3rem 0 3rem;
  color: #eee;
}
.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-list-item {
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: #007FFF;
  background: transparent;
  transition: all .2s ease-in;
}
.menu-link {
  box-sizing: border-box;
  padding-left: 3rem;
  display: block;
  color: #007FFF;
  transition: color 0.2s ease-in;
}
.menu-link:hover {
  color: hsl(210, 100%, 60%);
  border-bottom: none;
}
.top-slide-menu {
  display: inline-flex;
  list-style: none;
  top: 0;
  right: 0;
  bottom: 0;
}

.top-menu-mobile {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid #ededed;
}

.top-menu-mobile .top-menu-list-item-mobile:not(:last-child)::after {
  content: '|';
  position: relative;
  right: -35px;
  color: #ededed;
}

.top-menu-list-item-mobile {
  padding: 20px;
  text-align: center;
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.top-menu-list-item a {
  font-size: 11px;
  color: #282B3E;
}

.top-menu-list-item img {
  position: relative;
  top: 5px;
  height:20px;
}

.top-menu-list-item:not(:last-child) {
  padding-right: 10px;
}

.link-top {
  align-self: flex-end;
}
.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 11rem;
  padding: 0 4rem;
  margin: 1rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #007FFF;
  border-radius: 2px;
  color: #007FFF;
  font-size: 1.25rem;
  transition: background-color, 0.15s;
}
.button:hover {
  background: #3399FF;
  border-color: #3399FF;
  color: #FFF;
  text-shadow: 0 1px #007FFF;
}
.button:active {
  background: #007FFF;
  color: #FFF;
  border-top: 2px solid #0066CC;
}
.box-row,
.box-first,
.box-nested,
.box-large,
.box {
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  background: #007FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: white;
}
.box-row {
  margin-bottom: 1rem;
}
.box-first {
  background: #0066CC;
  border-color: #007FFF;
}
.box-nested {
  background: #003366;
  border-color: #007FFF;
}
.box-large {
  height: 8rem;
}
.box-container {
  box-sizing: border-box;
  padding: 0.5rem;
}
.page-footer {
  box-sizing: border-box;
  padding-bottom: 3rem;
}

.page-footer a {
  color: #ffffff;
}

.footer-heading {
  padding-bottom: 20px;
  font-weight: 100;
}

.footer-contact-desc {
  font-size: 26px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 20px;
  line-height: 2.5rem;
}

.footer-contact-details {
  font-weight: 100;
}

.footer-copyright-desc {
  font-weight: 100;
}

.footer-list {
  padding-bottom: 20px;
}

.footer-link a {
  font-weight: 100;
}

.footer-security {
  padding-top: 20px;
}

.footer-security i {
  padding-right: 20px;
}

.footer-link ul li {
  display:inline-block;
  padding-right:40px;
}

.tag {
  color: #000;
  font-weight: normal;
}
.end {
  text-align: end;
}
.invisible-xs {
  display: none;
  visibility: hidden;
}
.visible-xs {
  display: block;
  visibility: visible;
}

.header {
  background-color: #fff;
  height: 100px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}

.mt-80 {
  margin-top: 80px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-20 {
  margin-top: 20px !important;
}

.ml-10 {
  margin-left: 10px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pt-15 {
  padding-top: 15px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.no-padding {
  padding: 0;
}

.right {
  text-align: right;
}

.divider {
  padding-left: 25px;
}

.mb-0 {
  margin-bottom: 0px;
}

.main-nav {
  display: flex;
  position: relative;
  list-style: none;
  justify-content: flex-end;
  border-top: 1px solid #ededed;
  margin-top: 1px;
}

.main-nav-item {
  padding: 10px 20px 10px 20px;
}

.main-nav-item a:hover:before {
  content: '_';
  border-bottom: 7px #00a758 solid;
}

.notification-banner {
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  height: 40px;
  padding: 10px 0 10px 0px;
}

.slider-item {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
}

.icon-teaser {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 240px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  padding: 16px;
}

.icon-teaser-bottom {
  margin-top: 0px;
  position: relative;
  bottom: 10px;
}

.sort {
  cursor: pointer;
}

.sort span {
  position: relative;
  /* display: table; */
  padding-right: 19px;
  font-weight: bold;
  margin: 0px auto;
}

.sort span .before {
  content: " ";
  display: block;
  width: 0px;
  height: 0px;
  border-bottom: 4px solid rgb(216, 216, 216);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -6px;
}

.sort span .after {
  content: " ";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 4px solid rgb(216, 216, 216);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: 1px;
}

.sort.sort_down span .before { border-bottom-color: rgb(216, 216, 216); }

.sort.sort_down span .after { border-top-color: rgb(200, 37, 55); }

.sort.sort_up span .before { border-bottom-color: rgb(200, 37, 55); }

.sort.sort_up span .after { border-top-color: rgb(216, 216, 216); }

a.btn_buy { width: 24px; height: 24px; padding: 10px; display: block; margin: 0px auto; position: relative; }

a.btn_buy i { content: " "; display: block; width: 24px; height: 24px; position: absolute; top: 0px; left: -10px; background: url("../images/btn_buy.png") left center / 48px no-repeat; }

a.btn_buy:hover i { background-position: right center; }



.cmp-text__cta--secondarylink a:before, a .cmp-text__cta--secondarylink:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: block;
  float: left;
}

.cmp-text__title {
  text-decoration: none;
  font-size: 1.35rem;
  font-weight: bold;
}

.cmp-text__sub-title {
  font-size: 1rem;
  font-weight: 100;
  padding-top: 10px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cmp-text__cta--secondarylink a, a .cmp-text__cta--secondarylink {
  display: inline-block;
  align-items: center;
  text-align: left;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-size: .875rem;
  line-height: 1.7;
  letter-spacing: normal;
  color: #282b3e;
  position: relative;
  padding-left: 21px;
}

.cmp-text__cta--secondarylink a:before, a .cmp-text__cta--secondarylink:before {
  content: url('../images/RightOutlined.svg');
}

.cmp-text__cta--primarylink a, a .cmp-text__cta--primarylink {
  display: flex;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-size: .875rem;
  line-height: 1.29;
  letter-spacing: normal;
  color: #282b3e;
  position: relative;
  flex-wrap: nowrap;
  text-align: right;
  align-content: flex-start;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.cmp-text__cta--primarylink a:before, a .cmp-text__cta--primarylink:before {
  content: url('../images/RightFilled.svg');
}

.cmp-text__cta--primarylink a:hover:before, a .cmp-text__cta--primarylink:hover:before {
  content: url('../images/Right_hover.svg');
}

.cmp-primary-btn {
  width: 120px;
  height: 50px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #ec6453;
  border-radius: 0;
  -webkit-appearance: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.cmp-primary-btn a {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
}

.cmp-text-value {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 10px;
}

.cmp-text-left-wrapper {
  position: absolute;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  left: 10px;
  bottom: 0;
}

.cmp-text-btn-left-wrapper {
  position: absolute;
  float: left;
  top: 66px;
  left: 8px  
}

.cmp-text-right-wrapper {
  position: relative;
  float:right;
  bottom: 15px;
}


.cmp-sub-text {
  font-size: 12px;
  color: #8e90a2;
  padding-top: 8px;
}

.cmp-content-icon {
  position: relative;
  bottom: 15px;
}

.cmp-title-heading { 
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 10px;
}

.flex {
  display: flex;
}

.data-teaser {
  height: 180px;
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 20px;
  position: relative;
}

.data-teaser-bottom {
  display: flex;
  align-items: flex-end;
}

.data-teaser-value {
  font-size: 2rem;
  font-weight: bold;
}

.product-teaser {
  height: 235px;
  background-color: #fff;
  border: 1px solid #ededed;
  position: relative;
}

.product-teaser-img-wrapper {
  position: absolute;
}

.product-teaser-content {
  position: relative;
  padding: 24px 24px 24px 144px;
  width: 100%;
  height: inherit;
}

.product-teaser-img-content {
  position: relative;
  object-fit: cover;
  width: 120px;
  height: 234px !important;
}

.product-teaser-action {
  position: relative;
  float: right;
  top: 25px;
  bottom: 0;
  left: 0;
  right: 0px;
}

.list-content .list-item {
  list-style-type: disc;
  font-size: 14px;
  line-height: 2rem;
  margin-left: 20px;
  font-weight: 300;
}

.small-icon-teaser {
  height: 80px;
  background-color: #fff;
  border: 1px solid #ededed;
  position: relative;
  padding: 20px;
  display: flex;
}

.icon-tool-1 {
  content: url('../images/Tool_1.svg');
}

.icon-tool-2 {
  content: url('../images/Tool_2.svg');
}

.icon-tool-3 {
  content: url('../images/Tool_3.svg');
}
.icon-tool-4 {
  content: url('../images/Tool_4.svg');
}
.icon-tool-5 {
  content: url('../images/Tool_5.svg');
}

.fab-icon-comment {
  content: url('../images/FAB_Comment-svg.png');
}

.fab-icon-code {
  content: url('../images/FAB_QRcode-svg.png');
}

.fab-icon-up {
  content: url('../images/FAB_Up-svg.png');
  position: relative;
  bottom: 5px;
}

.footer-icon-sticky {
  float: right;
  position: fixed;
  bottom: 45%;
  right: 40px;
  z-index: 999;
}

.fab-icon {
  background-color: #282b3e;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
}

.security-icon-1 {
  content: url('../images/Security_1.svg');
}

.security-icon-2 {
  content: url('../images/Security_2.svg');

}

.security-icon-3 {
  content: url('../images/Security_3.svg');
}


.social-icons a {
  padding-right: 20px
}

.small-icon-teaser-content {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.center {
  display: flex;
  justify-content: center;
}

.text-lite {
  font-weight: 100;
}

.positive {
  color: #d03a39;
}

.positive::before {
  content:url('../images/Triangle_up.svg');
  position: relative;
  top: -2px;
  left: -4px;
}

.negative {
  color: #00a758;
}

.negative::before {
  content:url('../images/Triangle_down.svg');
  position: relative;
  top: -2px;
  left: -4px;
}

.table-border { 
  border: 1px solid #ededed;
}

.fa-2x {
  font-size: 35px;
}

.mobile-nav-icon {
  position: relative;
  top: 23px;
}

.nav-divider {
  color: #8E90a2;
  padding: 0 20px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.img-hover img {
  display:block;
  max-width: 100%;
  height: auto;
}

.img-hover-item {
  display:none;
  position: absolute;
  top: 0;
  left: -200%;
  right: 10%;
  padding: 0;
  margin: 0;
}

.img {
  width: 100%;
}

.container .wrapper{
  width: 1200px; 
  height: auto;
  margin: 0 20px;
}
.container .wrapper .notice_c{
  width: 100%; 
  height: 53px;
  font-size: 14px; 
  line-height: 1.5rem;
  margin: 0 auto;
}

.container .wrapper .notification-icon {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.container .wrapper .notice_c .title{
  position: absolute;
  margin-right: 35px;
}
.container .wrapper .notice_c .notice_swiper{
  width: 420px; height: 53px;
  display: inline-block; 
  overflow: hidden;
  left: 70px;
}
.container .wrapper .notice_c .notice_swiper .swiper-slide{
  width: 100%; 
  height: 53px;
}
.container .wrapper .notice_c .notice_swiper .swiper-slide a{
  width: 100%; 
  height: 53px;
  display: block;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.responsive-table-width-td:first-child {
  width: 16%;
} 

.responsive-table-width-td:nth-child(4) {
  width: 11%;
} 

.tab-5 .responsive-table-width-th:nth-child(4) {
  width: 13%;
} 

.tab-5 .responsive-table-width-th:nth-child(5) {
  width: 12%;
} 


.fixed_b_con{
  width: 100%;
  position: fixed; bottom: 0; left: 0; z-index: 10;
  background-color: rgba(0, 0, 0, 0.50);
}
.fixed_b_con .fixed_bg{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
}
.fixed_b_con .wrap{
  display: table; height: 81px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; 
  z-index: 1;
  width: 1070px;
}
.fixed_b_con .wrap .title{
  display: table-cell;
  vertical-align: middle;
  font-size: 29px; 
  color: #fff;
  display: inline-block; 
  margin-top: 20px; 
  line-height: 41px;
}
.fixed_b_con .wrap .title span{
  margin-left: 15px; color: #C92335; font-weight: bold;
}
.fixed_b_con .wrap .fixed_list{
  padding-left: 172px;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block; 
  margin-top: 20px;
}
.fixed_b_con .wrap .fixed_list>li{
  width: 156px; height: 41px; 
  line-height: 41px;
  font-size: 18px; 
  text-align: center;
  display: inline-block; 
  background-image: url(../images/bg_blue4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* 此处加上-ms前缀，让IE识别 */
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_blue4.jpg',sizingMethod='scale');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_blue4.jpg',sizingMethod='scale');
  background-position: center;
  margin-left: 19px;
}
.fixed_b_con .wrap .fixed_list>li:first-child{
  margin-left: 0;
}
.fixed_b_con .wrap .fixed_list>li:hover{
  background-image: url(../images/bg_blue3.jpg);
  /* 此处加上-ms前缀，让IE识别 */
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_blue3.jpg',sizingMethod='scale');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_blue3.jpg',sizingMethod='scale');
}
.fixed_b_con .wrap .fixed_list>li>a{
  width: 100%; height: 100%;
  display: block;
  color: #fff;
}
/*底部浮动条*/

/*右侧浮动条*/
.fixed_btns_c{
  width: 66px;
  /*position: fixed; bottom: 150px; right: calc(calc(calc(100vw - 1200px) / 2) - 104px);*/
  position: fixed; bottom: 150px; right: 10px;
  z-index: 99;
  display: block;
}
.fixed_btns_c>li{
  width: 66px; height: 54px;
  /*box-shadow: 1px 1px 10px rgba(90,90,90,0.22);*/
  margin-bottom: 5px;
  font-size: 12px; text-align: center;
  position: relative;
  position: static\0;
  *position: static;
  padding: 22px 10px 10px 10px;
  cursor: pointer;
  margin: -10px -10px -5px -10px;
  background-image: url(../../images/2019/fixed_btn_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.fixed_btns_c>li:hover{
  color: #fff;
  background-image: url(../../images/2019/fixed_btn_bg_a.png);
}
.fixed_btns_c>li:hover a{
  color: #fff;
}
.fixed_btns_c>li i.icon{
  width: 26px; height: 26px;
  display: block;
  margin: 0 auto 4px auto;
  background-repeat: no-repeat;
  background-size: 52px;
  background-position: left center;
}
.fixed_btns_c>li:hover i.icon{
  background-position: right center;
}
.fixed_btns_c>li i.icon_qr{
  background-image: url(../../images/2019/i_qrcode.png);
}
.fixed_btns_c>li i.icon_kefu{
  background-image: url(../../images/2019/i_kefu.png);
}
.fixed_btns_c>li i.icon_top{
  background-image: url(../../images/2019/i_returnTop.png);
}
.fixed_btns_c>li .qrcode{
  width: 90px;
  position: absolute; left: -94px; top: 50%; margin-top: -45px; z-index: 1;
  top: -12px\0; margin-top: 0\0;
  *top: -12px; *margin-top: 0;
  transform: scale(0);
  display: none\0;
  *display: none;
  /*transition: all .2s linear;*/
}
.fixed_btns_c li:hover .qrcode{
  transform: scale(1);
  display: block\0;
  *display: block;
}
/*/右侧浮动条*/

.swiper-pagination{
  width: 100%;
  position:absolute;
  text-align:center;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -o-transition:.3s;
  transition:.3s;
  -webkit-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  z-index:10;

  bottom: 23px;
}
.swiper-pagination .swiper-pagination-switch{
  width: 8px; 
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  background-color: #F7F7F7;
  margin: 0 6px;
  display: inline-block;
  cursor: pointer;
}
.swiper-pagination .swiper-pagination-switch.swiper-active-switch{
  background-color: #0068B6;
}

.table-tab {
  max-height: 650px;
  height: auto;
  overflow-y: auto;
}

/*.ie9 img[src$=".svg"] {
  width: 100%; 
}*/

/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*img[src$=".svg"] {
    width: 100%; 
  }*/
}

@media screen and (max-width: 1200px){
  .fixed_b_con .wrap .fixed_list{
      padding-left: 20px; float: right;
      margin-top: 20px;
  }
}

@media only screen and (max-width: 1919px) and (min-width: 1025px) {
  .cmp-content-icon {
    bottom: 55px;
  }

  .cmp-text-btn-left-wrapper {
    top: 65px;
  }
}

@media  screen and (max-width: 1620px) {
  .banner .swiper-container.banner_swiper {
    height: 350px;
  }

  .banner .swiper-container.banner_swiper img {
    height: 350px;
    object-fit: cover;
  }

  .swiper-pagination {
    bottom: 10px;
  }
}



@media  screen and (max-width: 1440px) {
  .list-content .list-item {
    line-height: 1.4rem;
  }

  .small-icon-teaser-content {
    font-size: 12px;
    margin-left: 12px;
  }

  .cmp-teaser-icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .cmp-content-icon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    top: 0;
    right: 18px;
  }

  .banner .swiper-container.banner_swiper {
    height: 350px;
  }

  .banner .swiper-container.banner_swiper img {
    height: 350px;
    object-fit: cover;
  }

  .swiper-pagination {
    bottom: 10px;
  }
}

@media  only screen and (max-width: 1440px) {
  .cmp-text__cta--secondarylink {
    position: relative;
    z-index: 1;
  }
}


@media only screen and (min-width: 48rem) {
  body {
    font-size: 16px;
  }
  .slide-menu {
    width: 25%;
  }
  .open {
    transform: translate3d(0, 0, 0);
  }
  .hero-headline {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  .hero-copy {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  .box-row,
  .box-first,
  .box-nested,
  .box-large,
  .box {
    padding: 1rem;
  }
  .invisible-md {
    display: none;
    visibility: hidden;
  }
  .visible-md {
    display: block;
    visibility: visible;
  }
}

@media only screen and (max-width: 1280px) {
  .banner .swiper-container.banner_swiper {
    height: 210px;
  }

  .banner .swiper-container.banner_swiper img {
    height: 210px;
    object-fit: cover;
  }

  .swiper-pagination {
    bottom: 10px;
  }

}

@media only screen and (min-width: 1024px) {
  .container {
      width: 95%;
  }

  .header {
    height: 100px;
  }

  .custom-grid {
    width: 20% !important;
  }

}

@media only screen and (max-width: 1024px) {

  .main-logo {
    width: 250px;
    margin-top: 20px;
  }

  .main-navigation-mobile {
    z-index: 3;
    position: fixed;
    right: 0;
    height: 80px;
    width: 80px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-left: 1px solid #ededed;
  }

  .header {
    height: 100px;
  }

  .header > nav {
    background-color:  inherit;
  }
    .small-icon-teaser-content {
      font-size: 15px;
      font-weight: 700;
      margin-left: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }

  .row .col.s12 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .notification-banner-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-teaser  .product-teaser-img-content {
    width: 170px;
  }
  
  .product-teaser .product-teaser-content {
    padding: 24px 24px 24px 185px;
  }

  .product-teaser-action {
    top: 125px;
  }

  .cmp-text__cta--secondarylink a, a .cmp-text__cta--secondarylink {
    padding-left: 0px;
  }

  .product-teaser .product-teaser-content .product-teaser-desc {
    display: none;
  }

  .footer-icon-sticky {
    bottom: 0%;
    right: 15px;
  }

  .small-icon-teaser {
    margin-bottom: 20px;
  }

  .cmp-content-icon {
    position: absolute;
    top: 0px;
    left: 15px;
    bottom: 15px;
    right: 15px;
  }

  .icon-teaser-bottom {
    bottom: 10px;
  }

  .slider {
    height: 230px;
  }

  img.custom-img-width {
    width: 55%;
  }

  .page-footer a {
    font-size: 0.8rem;
    line-height: 0rem;
  }
}

@media  screen and (min-width: 1920px) {
  .cmp-content-icon {
    bottom: 55px;
  }

  .banner .swiper-container.banner_swiper {
    height: 450px;
  }

  .banner .swiper-container.banner_swiper img {
    height: 450px;
    object-fit: cover;
  }

  .swiper-pagination {
    bottom: 10px;
  }
}


@media only screen and (max-width: 820px) {
  .header {
    height: 80px;
  }

  .cmp-text-btn-left-wrapper {
    top: 53px;
  }

  .responsive-table-width-td:first-child {
    position: relative;
    margin-bottom: -20px;
  }

  table.responsive-table th {
    display: flex;
  }
}


@media only screen and (max-width: 768px) {

  .fixed_b_con {
    display: none;
  }

  .container .wrapper .notice_c .title {
    position: absolute;
    margin-right: 35px;
  }
 
  .header {
    height: 80px;
  }

  img.custom-img-width {
    width: initial;
  }

  .img {
    height: 200px;
    object-fit: cover;
  }

  .cmp-content-icon {
    position: absolute;
    top: 0px;
    left: 15px;
    bottom: 15px;
    right: 15px;
  }

  .responsive-table-width-td:first-child {
    position: relative;
    margin-bottom: -20px;
  }

  .cmp-text-btn-left-wrapper {
    top: 50px;
  }

  table.responsive-table th {
    display: flex;
  }

  .tabs .tab a {
    padding: 0;
  }

  .tab-5 .responsive-table-width-th:nth-child(4) {
    width: inherit;
  } 
  
  .tab-5 .responsive-table-width-th:nth-child(5) {
    width: inherit;
  } 

  .responsive-table .responsive-table-width-td a.btn_buy {
    margin: 0px 24px;
  }

}

@media only screen and (max-width: 540px) {
  .banner .swiper-container.banner_swiper {
    height: 150px;
  }

  .banner .swiper-container.banner_swiper img {
    height: 150px;
    object-fit: cover;
  }

  .swiper-pagination {
    bottom: 10px;
  }

  .custom-img-width {
    width: 70%;
  }

  .product-teaser .product-teaser-img-content {
    width: 170px;
  }

  .product-teaser .product-teaser-content {
    padding: 24px 24px 24px 185px;
  }

  .product-teaser-action {
    top: 140px;
  }

  .slider {
    height: 115px;
  }

  .responsive-table-width {
    width: inherit;
  }

  .small-icon-teaser-content {
    text-overflow: initial;
    white-space: initial;
  }

  .small-icon-teaser {
    padding: 10px;
  }

  .small-icon-wrapper {
    float: left;
    position: relative;
    top: 10px;
  }

  .fund-heading {
    padding: 0px;
  }
  
}

@media only screen and (max-width: 412px) {
  .banner .swiper-container.banner_swiper {
    height: 120px;
  }

  .banner .swiper-container.banner_swiper img {
    height: 120px;
    object-fit: cover;
  }

  .swiper-pagination {
    bottom: 10px;
  }

  .top-menu-mobile li a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .custom-img-width {
    width: 70%;
  }

  .img {
    height: 100px;
  }

  .product-teaser .product-teaser-img-content {
    width: 170px;
  }

  .product-teaser .product-teaser-content {
    padding: 24px 24px 24px 185px;
  }

  .product-teaser-action {
    top: 140px;
  }

  .tabs .tab a {
    padding: 0 0px;
  }

  .container .wrapper .notice_c .notice_swiper {
    font-size: 9px;
  }

  .container .wrapper .notice_c .title {
    height: 0;
    font-size: 9px;
    line-height: 20px;
    padding-top: 0.05rem;
  }

  .container .wrapper {
    margin: 0;
  }

  .banner .swiper-container.banner_swiper {
    height: 110px;
  }

  .banner .swiper-container.banner_swiper img {
    height: 110px;
    object-fit: cover;
  }

  .swiper-pagination {
    bottom: 5px;
  }

  .swiper-pagination .swiper-pagination-switch {
    width: 5px;
    height: 5px;
    margin: 0 5px;
  }
}